
body {
    background-color: #FFF;
    margin: 0 auto;
  }

  header {
    background-image: url(ente.jpg);
    background-size: cover;
    border-bottom: 1px solid #466995;
    width: 100%;
    color: #ffffff;
    height: 300px;
    z-index: 10;
    
  }
.sidebar0 {
    position: relative; 
    top: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    height: 10px;
    background-color: bisque;
    float: left;
}
.sidebar {
    top: 50px;
    background-color: #DBE9EE;
    width: 200px;
    position: relative; 
    height: 700px;
    float: left;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
  }
  .content {
    top: 50px;
    background-color: #DBE9EE;
    width: 800px;
    position: relative; 
    height: 700px;
    float: left;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
   
  }
.m2 {
    top: 70%;
    border: 1px solid #466995;
    display: inline-block;
    background-color: aquamarine;
   
  }
  .hi {
    align-items: center;
    background-image: url(ente.jpg);
    background-size: cover;
    margin: center ;
    text-align: center;
    color: #ffffff;
    height: 300px;
    text-align: center; 
   
}
  
footer {
    font-size: 12px;
    padding: 20px 0;
}

footer.wrapper {
display: flex;
justify-content: flex-end;
  

/*
  .answer {
    border: 1px solid #466995;
    margin: 20px;
    display: inline-block;
    position: relative; 
    top: 300px;
    width: 40%;
    height: 50px;
  }

.block {
    
    display: flexbox;
    justify-content: center;
    margin-bottom: 50%;
    box-sizing: border-box;
    width: 100%;
    position: relative; 
    top: 410px;
    height: 50px;
}
.block1 {
    display: inline-block;
}

/*
.row1 {
    display: flex-table;
    align-items: center;
    background-image: url(ente.jpg);
    background-size: cover;
    margin: center ;
    text-align: center;
    color: #ffffff;
    height: 300px;
    text-align: center; 
   
}

h1.m0 {
      padding-box: 100px; 
}


h3.m1 {
margin-left: 25%;
  text-align: center;
}

.row2 {
    display: flex;
    justify-content: flex-center;
    margin: 3%;
    text-align: justify;
}
ul  li {
    display: inline-block;
    font-size: 10px; 
    margin-left: 50px; // <-- for item spacing -->
}
.n {
    font-size: 16px; 

footer {
    display: flex;
    justify-content: flex-start;
    margin: 10%;
    }
    
    footer ul {
        list-style: none;
    }
.main-container {
    display: flex;
    justify-content: flex-center;
    margin: 3%;
    text-align: justify;
}
*/



